@counter-style leaf {
    system: cyclic;
    symbols: "\1F343";
    // symbols: url("img/slavo.png");
    suffix: " ";
}

@counter-style slavo {
    system: cyclic;
    symbols: url("/img/slavo.png");
    suffix: " ";
}
