@import "variables.scss";
@import "counters.scss";

.document__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
    width: $body_width;
    margin: auto;
    text-transform: uppercase;
    font-weight: 300;
    min-height: 100vh;
    background: url("/img/811964.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

button {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

ul {
    list-style: leaf;
}

header {
    justify-self: flex-end;
}

footer {
    margin-top: 2em;
}

.route {
    align-self: flex-start;
    margin-top: 0.75em;
}

.basic_styling_for_links {
    background-color: rgba(113, 128, 185, 0.9);
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px;
    // width: 320px;
    text-align: center;
    /* background-color: rgba(172, 172, 172, 0.226); */
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.37);
    color: rgb(255, 255, 255);
    margin: 1em;
    padding: 1em;
    transition: all 0.2s ease-out;
    &:hover {
        box-shadow: 0px 0px 30px 2px rgba(255, 255, 255, 0.37);
    }
}

.red {
    background-color: green;
}
.blue {
    background-color: rgba(113, 128, 185, 0.9);
}

.teas__all {
    color: white;
    font-size: 2em;
}

.loremipsum {
    font-size: 18px;
}

li a {
    color: white;
}

// .teas__all__ul__li__a {
//     color: white;
// }

.pagination {
    display: flex;
    &__link {
        background-color: $secondary-blue;
        color: white;
        padding: 5px;
        margin: 0 5px 15px 5px;
        border-radius: 5px;
        svg {
            width: 10px;
            height: 10px;
        }
    }
}

.white {
    color: white;
    font-size: 20px;
    width: auto;
    line-height: 1.1;
    margin: auto;
}

@import "navigation.scss";
// @import "login.scss";
@import "home_page_body.scss";
@import "tea_page_body.scss";
@import "list_search_bar.scss";
@import "footer.scss";
// @import "history.scss";
@import "countries.scss";
