@import "variables.scss";

.document__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $primary-white;
    font-family: "Roboto", sans-serif;
    width: $body_width;
    margin: auto;
    text-transform: uppercase;
    font-weight: 300;
}

button {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

@import "navigation.scss";
@import "home_page_body.scss";
@import "tea_page_body.scss";
// @import "footer.scss";
