$primary-white: rgba(250, 243, 221, 1);
$secondary-blue: rgba(113, 128, 185, 1);
$primary-blue: rgba(34, 0, 124, 1);
$primary-red: rgba(102, 0, 2, 1);
$secondary-red: rgba(142, 21, 41, 1);

$body_width: 1300px;
$body_width_mobile: 500px;
$h1_size: 25px;
$h2_size: 18px;
$h3_size: 12px;
$p_size: 11px;

// $deep-space-sparkle: rgba(76, 91, 92, 1);
// $cambridge-blue: rgba(195, 218, 195, 1);
// $ash-gray: rgba(161, 176, 171, 1);
// $honey-yellow: rgba(242, 175, 41, 1);
// $terra-cotta: rgba(237, 106, 90, 1);

// $beige: rgba(230, 238, 214, 1);
// $beige-2: rgba(221, 226, 198, 1);
// $laurel-green: rgba(187, 197, 170, 1);
// $rufous: rgba(167, 38, 8, 1);
// $black-chocolate: rgba(9, 12, 2, 1);
// $redwood: rgba(161, 94, 73, 1);

// $dark-purple: rgba(22, 15, 41, 1);
// $ming: rgba(36, 106, 115, 1);
// $dark-cyan: rgba(54, 143, 139, 1);
// $champagne: rgba(243, 223, 193, 1);
// $desert-sand: rgba(221, 190, 168, 1);
// $fuzzy-wuzzy: rgba(201, 112, 100, 1);
